.form {
  &__section {
    display: block;

    @include breakpoint(tablet-horizontal) {
      display: inline;
    }


  }

  label {
    margin-bottom: 20px;
  }

  &__input {
    margin: 0 10px;
    font-size: 10px;
    border: none;
    background-color: transparent;
    color: $light;
    border-bottom: 1px solid $primary;



  }
}